<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gsm.RCSDemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:icon="@drawable/image"
        android:label="@string/app_name"
       
        android:theme="@style/AppTheme" >
        <activity android:name="org.gsm.rcsApp.activities.SplashActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.gsm.rcsApp.activities.MainActivity" 
         android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.ChatSessionActivity" 
        android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.AddContactActivity" android:screenOrientation="portrait" />
         <activity android:name="org.gsm.rcsApp.activities.NotificationsActivity" android:screenOrientation="portrait" />
         <activity android:name="org.gsm.rcsApp.activities.InboxActivity" android:screenOrientation="portrait" />
         <activity android:name="org.gsm.rcsApp.activities.OTTEnablersActivity" android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.EditContactActivity" android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.ConferenceActivity" android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.ListNetworkContacts" android:screenOrientation="portrait" />
         <activity android:name="org.gsm.rcsApp.misc.FileDialog" android:screenOrientation="portrait" />
           <activity android:name="org.gsm.rcsApp.activities.SettingsActivity" android:screenOrientation="portrait" />
         <activity android:name="org.gsm.rcsApp.activities.ContactHelper" android:screenOrientation="portrait" />
        <activity android:name="org.gsm.rcsApp.activities.dialogYesNo" 
        android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait" />
        </application>
    
</manifest>
